#imagesItems ul, #audioItems ul {
	margin: 0;
	padding-left: calc(1em + 4px);
	list-style: none;
}

#imagesItems > div > ul, #audioItems > div > ul {
	padding-left: 0;
}

.showAsset {
	max-height: 100%;
	max-width: 100%;
	min-height: 10px;
	overflow: clip;
}

.showAsset img {
	max-height: calc(100vh - 20px);
	max-width: calc(100vw - 1em - 6x);
}
