#imagesItems ul, #audioItems ul {
	margin: 0;
	padding-left: calc(1em + 4px);
	list-style: none;
}

#imagesItems > div > ul, #audioItems > div > ul {
	padding-left: 0;
}

.imageIcon {
	position: absolute;
	top: var(--icon-top, 0);
	left: var(--icon-left, 0);
	max-width: 100px;
	max-height: 100px;
}
