form {
	display: inline;
}

.button {
	background-color: #ccc;
	border-color: #fff #000 #000 #fff;
	border-width: 2px;
	border-style: solid;
	font-family: sans;
	font-size: 20px;
	padding: 0 5px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.button:active {
	border-color: #000 #fff #fff #000;
}

input[type=checkbox], input[type=checkbox]:not(:checked) + ul {
	display: none;
}

.tag label {
	cursor: pointer;
}

#overlay:empty {
	display: none;
}

#overlay:not(:empty) {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#overlay > div {
	position: relative;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	min-width: 50%;
}

.closer {
	cursor: pointer;
	font-family: sans;
	position: absolute;
	right: 0;
	top: 0;
}

.closer:hover {
	color: #f00;
}
