#characters ul {
	margin: 0;
	padding-left: calc(1em + 4px);
	list-style: none;
}

#characters > div > ul {
	padding-left: 0;
}

.characterDataRemove, .userVisibility {
	display: none;
}

.userVisibility + label > svg {
	display: inline-block;
	width: 1em;
	height: 1em;
}

.userVisibility:not(:checked) + label > svg {
	--check-on: none;
	--check-off: block;
}

.itemRemove svg{
	display: inline-block;
	width: 1em;
	height: 1em;
}

#remove path {
	fill: var(--remove-selected, transparent);
}

.characterDataRemove:checked + .itemRemove {
	--remove-selected: red;
}

.tokenSelectors {
	margin: 0;
	list-style: none;
}

.tokenSelector {
	overflow: hidden;
	position: relative;
}

div.tokenSelector {
	width: 200px;
	height: 200px;
}

.tokenSelector > button {
	position: absolute;
	left: 0;
	background-color: transparent;
	width: 200px;
	height: 200px;
	color: #000;
	text-shadow: #fff 0 0 5px;
}

.tokenSelector > img {
	max-width: 200px;
	max-height: 200px;

}

.tokenSelector > svg {
	width: 2em;
	height: 2em;
	cursor: pointer;
}

.showCharacter > div {
	max-height: 90vh;
	overflow-y: scroll;
}
