.folders {
	margin: 0;
}

summary::-webkit-details-marker {
	display: none;
}

.folders details summary {
	list-style: none;
	outline: none;
	cursor: pointer;
	grid-template-columns: 1em auto 1em 1em 1em;
}

.item {
	cursor: pointer;
}

.foldersItem:hover, .foldersFolder > details summary:hover {
	background-color: #888;
}

.folders summary > .folderIcon {
	width: 1em;
	height: 1em;
}

.folders details[open] > summary > .folderIcon {
	--folder-closed: none;
	--folder-open: block;
}

.folders summary, .foldersItem {
	display: grid;
	grid-template-columns: auto 1em 1em 1em;
}

.addFolder, .renameFolder, .removeFolder, .itemRename, .itemCopy, .itemRemove {
	background-size: 1em;
	background-position: bottom center;
	background-repeat: no-repeat;
	width: 1em;
	height: 1em;
	display: inline-block;
	margin-right: 0.2em;
	cursor: pointer;
}

.imageIcon {
	position: absolute;
	top: var(--icon-top, 0);
	left: var(--icon-left, 0);
	max-width: 100px;
	max-height: 100px;
}

