.folders {
	margin: 0;
	user-select: none;
}

summary::-webkit-details-marker {
	display: none;
}

.folders summary {
	padding-left: calc(1em + 2px);
	list-style: none;
	background-size: 1em;
	background-position: 0 center;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAoCAYAAAC8cqlMAAAAUUlEQVR4Ae3RAQYAMRRDwb3/pbtHCBSJziNAi/E/XU86YUOIsCVEfDOJCFebROR/Y4gazCne25CaQEBAOiEgICAgICAgICAgICAgbXsCkpP0A0MiHfEjk/BiAAAAAElFTkSuQmCC);
	user-select: none;
	outline: none;
	cursor: pointer;
}

.item {
	cursor: pointer;
}

.folders details[open] > summary {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAoCAYAAAC8cqlMAAAAfElEQVR4AezViQmAQAwFUftv+ltCWPiLQ5yBcEbgee1jZvUyzALEgAEi5h084nA3fET/OiQCgOm/HmnOp3eSACF1BRLQrIFkhvB/qxVIKSHn3wj0aQjJNggfsR9yBSEk2yDHyySEEPjZMUdECOkjhMyI/RDw/BNiZu8gAAANjGenrLosDQAAAABJRU5ErkJggg==);
}

.folders summary, .foldersItem {
	display: grid;
	grid-template-columns: auto 1em 1em 1em;
}

.addFolder, .renameFolder, .removeFolder, .itemRename, .itemLink, .itemRemove, .layerMask {
	user-select: none;
	background-size: 1em;
	background-position: bottom center;
	background-repeat: no-repeat;
	width: 1em;
	height: 1em;
	display: inline-block;
	margin-right: 0.2em;
	cursor: pointer;
}

.addFolder {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAoCAYAAAC8cqlMAAAAaElEQVR4Ae3YMQ6AMAxDUe5/qc49VVi8e6BIcfq/5I0MTzDxHI+IymwAQktC2GfyEP6tRSL8XRiiDaYa725Ip/6EANlaPKQ0IECOBgQIkK37L1tA+LSAAAECZDpkafEQBYT/WqkQIlIv8hhf1blm/agAAAAASUVORK5CYII=);
}

.renameFolder, .itemRename {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF8AAABEAQMAAADdk3vuAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAGRJREFUeAFjgAL+///ANCaHgY1hEHL+Q0AbP9ClzHDO/wYGfrgyxgcMMgg9BQwWcA6QaYDgSDAkIDg8qJwDCA4beZxRDu7gRYkFlPhBiTmUOEXENjswthngnH+DNcGy//+PxgEADHNGITlpHEMAAAAASUVORK5CYII=);
}

.itemLink {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFsAAABcAQMAAAA7/VtiAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAH9JREFUeAHNzgcBAjEMheHH3mDghJyck1AHVFqlRAmPDT9DQLq/rkSSjr4VCag3DLdx0YB5EIXoiY7YEwtiUoFRAxTEgHQcn/CtnO6bd/iOe+KHCuwasA2iED3REXtiQUwqMGqAgIMJQsqPiW03EQkySBA0F2zHX9znzPCj/OAM+IDg1errguwAAAAASUVORK5CYII=);
}

.removeFolder, .itemRemove {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEkAAABOAQMAAABWuKknAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAI9JREFUeAHt0gEGAzEQQNEfQaDaC1T3CqVQIFfJEQpYoDnaHKCHyEFqp5IZ1gLoKuhHPAszzAJMuuBlVbwHsToL4RtmtRZ4qgcNK1bEGXbmOmIdvFnHV6Xsw1QvzMaTZN7Gg9x4/flTIkbZsg2GzjIuFCpwHXeLAHd6CeBM74g//iFVgBkgNPwB7Qm9yX4tPqUMuglVRi7AAAAAAElFTkSuQmCC);
}
