.folders {
	margin: 0;
	user-select: none;
}

summary::-webkit-details-marker {
	display: none;
}

.folders summary {
	padding-left: calc(1em + 2px);
	list-style: none;
	background-size: 1em;
	background-position: 0 center;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAoCAYAAAC8cqlMAAAAUUlEQVR4Ae3RAQYAMRRDwb3/pbtHCBSJziNAi/E/XU86YUOIsCVEfDOJCFebROR/Y4gazCne25CaQEBAOiEgICAgICAgICAgICAgbXsCkpP0A0MiHfEjk/BiAAAAAElFTkSuQmCC);
	user-select: none;
	outline: none;
	cursor: pointer;
}

.item {
	cursor: pointer;
}

.folders details[open] > summary {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAoCAYAAAC8cqlMAAAAfElEQVR4AezViQmAQAwFUftv+ltCWPiLQ5yBcEbgee1jZvUyzALEgAEi5h084nA3fET/OiQCgOm/HmnOp3eSACF1BRLQrIFkhvB/qxVIKSHn3wj0aQjJNggfsR9yBSEk2yDHyySEEPjZMUdECOkjhMyI/RDw/BNiZu8gAAANjGenrLosDQAAAABJRU5ErkJggg==);
}

.folders summary, .foldersItem {
	display: grid;
	grid-template-columns: auto 1em 1em 1em;
}

.addFolder, .renameFolder, .removeFolder, .itemRename, .itemLink, .itemRemove {
	user-select: none;
	background-size: 1em;
	background-position: bottom center;
	background-repeat: no-repeat;
	width: 1em;
	height: 1em;
	display: inline-block;
	margin-right: 0.2em;
	cursor: pointer;
}

