#layerList ul {
	list-style: none;
	padding-left: calc(1em + 4px);
}

#layerList li, #layerList .layerFolder > div {
	position: relative;
}

.dragged {
	visibility: hidden;
}

.beingDragged {
	position: absolute;
}

.draggingSpecial .folders .folders .dragAfter, .draggingSpecial .folders .folders .dragBefore {
	display: none;
}

.dragging .dragAfter, .dragging .dragBefore {
	display: block;
	height: calc(50% - 1px);
	position: absolute;
	width: 100%;
}

.dragging .dragAfter {
	top: 50%;
	border-bottom: 1px solid transparent;
}

.dragging .dragBefore {
	top: 0;
	border-top: 1px solid transparent;
}

.dragging .dragAfter:hover {
	border-bottom-color: #000;
}

.dragging .dragBefore:hover {
	border-top-color: #000;
}

.layerVisibility {
	display: inline-block;
	width: 1em;
	height: 1em;
	position: absolute;
	left: calc(-1em - 4px);
	cursor: pointer;
}

.layerHidden .layerVisibility {
	--invisible: none;
}

.selectedLayer {
	background-color: #eee;
}

.checkboard {
	background-color: #ccc;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20"%3E%3Cpath d="M0,0H10V10H0ZM10,10h10v10H10Z" fill="gray" /%3E%3C/svg%3E');
	width: 200px;
	height: 200px;
}

.checkboard div {
	width: 200px;
	height: 200px;
}

#layerList .foldersItem {
	grid-template-columns: auto 1em 1em;
}
