.loadSpinner {
	display: inline-block;
	height: 64px;
	width: 64px;
}

.loadSpinner:after {
	animation: loadSpinner 2.5s linear infinite;
	border: 5px solid #fff;
	border-color: #000 #eee #eee #eee;
	border-radius: 50%;
	content: " ";
	display: block;
	margin: 1px;
	height: 46px;
	width: 46px;
}

@keyframes loadSpinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#overlay .loadSpinner, #overlay .loadBar {
	background-color: rgba(127, 127, 127, 0.5);
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
}

#overlay .loadBar {
	background-color: rgba(200, 200, 200, 0.8);
}
