#mapList ul {
	list-style: none;
	margin: 0;
	padding-left: calc(1em + 4px);
}

#mapList li > svg:first-child {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0 2px;
}

#mapList li.mapItem > svg:first-child {
	cursor: pointer;
}

#mapList li.mapUser > svg:first-child {
	--map-selected: block;
}

#mapList .foldersItem {
	grid-template-columns: auto 1em 1em 1em;
}

.hasMapUser > details > summary {
	background-color: #ccffcc !important;
}

.hasMapCurrent > details > summary {
	background-color: #f8f8f8 !important;
}

.mapCurrent {
	background-color: #eee;
}

.setUserMap, .showUserMapFolder {
	position: absolute;
	left: 0px;
}
