#mapList ul {
	list-style: none;
	margin: 0;
	padding-left: calc(1em + 4px);
}

#mapList li > span:first-child {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0 2px;
}

#mapList li.mapItem > span:first-child {
	cursor: pointer;
}

#mapList li.mapUser > span:first-child {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAABeBAMAAABY/L5dAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlOAoAD/cP3HI2gAAABNSURBVHgB7MqhEQAgDMXQwiQcbAD774asgIrK3k9snuVq1memIeXx52nj8Xhh7yjwyz8eX8l/K+Pj8Hg8XsLf0a1/NKp+VL0AAymABQDCyL/X6zlMUwAAAABJRU5ErkJggg==);
	background-size: 1em;
	background-repeat: no-repeat;
	background-color: #ccffcc !important;
}

#mapList li.mapItem > span:nth-child(1) {
	background-color: #eee;
}

.hasMapUser > span:nth-child(1) {
	background-color: #ccffcc !important;
}

.hasMapCurrent > label, .mapCurrent {
	background-color: #eee;
}

.setUserMap, .showUserMapFolder {
	position: absolute;
	left: 0px;
}
