#mapList > div > ul {
}

#mapList ul {
	list-style: none;
	margin: 0;
	padding-left: 28px;
}

#mapList li > span:nth-child(1), #mapList li > span:nth-child(2) {
	display: inline-block;
	width: 10px;
	height: 0.8em;
	margin: 0 2px;
}

#mapList li.mapItem > span:nth-child(1), #mapList li.mapItem > span:nth-child(2) {
	cursor: pointer;
}

#mapList li.mapUser > span:nth-child(1) {
	background-color: #00ff00 !important;
}

#mapList li.mapCurrent > span:nth-child(2) {
	background-color: #ff0000 !important;
}

#mapList li.mapItem > span:nth-child(1), .hasMapUser > span:nth-child(1) {
	background-color: #ccffcc;
}

#mapList li.mapItem > span:nth-child(2), .hasMapCurrent > span:nth-child(2) {
	background-color: #ffcccc;
}

.setCurrentMap, .showCurrentMapFolder {
	position: absolute;
	left: 0;
}

.setUserMap, .showUserMapFolder {
	position: absolute;
	left: 14px;
}
