@import url("error.css");
@import url("loader.css");
@import url("overlay.css");

#mapList li:first-child .mapMoveUp, #mapList li:last-child .mapMoveDown {
	visibility: hidden;
}

#mapList li {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	float: left;
	clear: both;
}

#mapList li.adminMap {
	border-left-color: #f00;
}

#mapList li.userMap {
	border-right-color: #00f;
}

#mapList ul {
	list-style: none;
	padding-left: 0;
}
