#toolList > ul {
	list-style: none;
	padding: 0;
}

#toolList > ul > li img {
	width: 2em;
}

#toolList > ul > li {
	cursor: pointer;
}

#toolList li.selected {
	background-color: #888;
}

.zoomOver svg, .zoomOver #outline rect {
	cursor: zoom-in !important;
}

.zoomOver.zoomOut svg, .zoomOver.zoomOut #outline rect {
	cursor: zoom-out !important;
}
