#toolList > ul {
	list-style: none;
	padding: 0;
}

#toolList > ul > li img, #toolList > ul > li svg {
	width: 2em;
	height: 2em;
	padding-right: 3px;
	background-color: transparent;
}

#toolList > ul > li {
	cursor: pointer;
	padding: 0.4em;
	user-select: none;
}

#toolList li.selected {
	background-color: #888;
}

.zoomOver svg, .zoomOver #outline rect {
	cursor: zoom-in !important;
}

.zoomOver.zoomOut svg, .zoomOver.zoomOut #outline rect {
	cursor: zoom-out !important;
}

span.colourButton {
	display: inline-block;
	width: auto;
	height: auto;
}

#wallTool:not(:checked) ~ #wallToolOptions {
	display: none;
}

windows-window #toolList > ul svg + span {
	display: none;
}

windows-window #toolList > ul {
	margin-bottom: 0;
	padding-bottom: 0;
}
