#toolList > ul {
	list-style: none;
	padding: 0;
	margin-top: 0;
}

#toolList > ul > li :is(img, svg) {
	width: 2em;
	height: 2em;
	padding-right: 3px;
	background-color: transparent;
}

#toolList > ul > li {
	cursor: pointer;
	padding: 0.4em;
}

#toolList li.selected {
	background-color: #888;
}

.zoomOver :is(svg, #outline rect) {
	cursor: zoom-in !important;
}

.zoomOver.zoomOut :is(svg, rect) {
	cursor: zoom-out !important;
}

span.colourButton {
	display: inline-block;
	width: auto;
	height: auto;
}

#wallTool:not(:checked) ~ #wallToolOptions {
	display: none;
}

.miniTools windows-window #toolList > ul svg + span {
	display: none;
}

.miniTools windows-window #toolList > ul {
	margin-bottom: 0;
	padding-bottom: 0;
}

.hideZoomSlider #zoomSlider {
	display: none;
}

#zoomSlider {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 120px;
	fill: rgba(255, 255, 255, 0.2);
}

#zoomSlider :is(rect, circle) {
	transition: fill 0.5s;
}

#zoomSlider:hover rect, .zooming #zoomSlider rect {
	fill: #fff;
}

#zoomSlider:hover circle, .zooming #zoomSlider circle {
	fill: #f00;
}

#zoomSlider rect {
	cursor: pointer;
}

#zoomSlider circle {
	cursor: ns-resize;
}
